body{
    margin : 0px;
    padding : 0px;
  
}
ul{
    list-style:none;
}
.camping_prod{
    display:flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* align-content: space-between; */
}
.header {
    width: 100%;
    background: #FFFFFF;
    z-index: 50;
    border-radius: 0;
    top: 0px;
    position: fixed;
	height: 72px;
    border-bottom: 2px solid #9ED034;
}
.camping_prod > *{
    margin:20px 20px 20px 10px;
}
.navigation{
    display:flex;
    flex-direction: row;
    /* justify-content: center; */
    align-content: space-between;
    list-style:none;

}
section{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
}
img{
    width : 200px;
    height : 200px;
}
.title_camping{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    font-size : 40px;
    text-shadow: 1px 1px 1px gray;
    list-style:none;
    margin-top:200px;
}