body{
    margin : 0px;
    padding : 0px;
}
.navigation{
    display:flex;
    flex-direction: row;
    /* justify-content: center; */
    align-content: space-between;
}
section{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}
img{
    width : 200px;
    height : 200px;
}