.u-section-1 .u-sheet-1 {
  min-height: 242px;
}

.u-section-1 .u-text-1 {
  margin: 39px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 1038px;
}

.u-section-2 .u-shape-1 {
  width: 1064px;
  height: 852px;
  margin: -141px 30px 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 995px;
  margin: -813px 64px 3px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 554px;
}

.u-section-2 .u-image-1 {
  height: 266px;
  width: 481px;
  margin: -1px 0 0;
}

.u-section-2 .u-text-1 {
  margin: 17px 20px 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 13px 20px 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -16px auto 0 132px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 55px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 286px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 363px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 554px;
  background-position: 0% 0%;
}

.u-section-2 .u-image-2 {
  height: 261px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 15px 20px 0;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 2px auto 0 55px;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 132px;
}

.u-section-2 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0;
}

.u-section-2 .u-icon-9 {
  width: 64px;
  height: 64px;
  color: rgb(17, 17, 17) !important;
  margin: -64px auto 0 363px;
}

.u-section-2 .u-icon-10 {
  width: 64px;
  height: 64px;
  color: rgb(17, 17, 17) !important;
  margin: -64px 130px 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 612px;
  background-position: 0% 0%;
}

.u-section-2 .u-image-3 {
  height: 261px;
  margin: -3px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 30px 20px 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 13px 20px 0;
}

.u-section-2 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: 12px auto 0 132px;
}

.u-section-2 .u-icon-12 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 55px;
}

.u-section-2 .u-icon-13 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0;
}

.u-section-2 .u-icon-14 {
  width: 64px;
  height: 64px;
  color: rgb(17, 17, 17) !important;
  margin: -64px 130px 0 auto;
}

.u-section-2 .u-icon-15 {
  width: 64px;
  height: 64px;
  color: rgb(17, 17, 17) !important;
  margin: -64px 53px 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 612px;
  background-position: 0% 0%;
}

.u-section-2 .u-image-4 {
  height: 261px;
  object-position: 50% 38.08%;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 30px 21px 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 13px 20px 0;
}

.u-section-2 .u-icon-16 {
  width: 64px;
  height: 64px;
  margin: 34px auto 0 132px;
}

.u-section-2 .u-icon-17 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 55px;
}

.u-section-2 .u-icon-18 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0;
}

.u-section-2 .u-icon-19 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 286px;
}

.u-section-2 .u-icon-20 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 363px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-2 .u-shape-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 523px;
  }

  .u-section-2 .u-image-1 {
    position: relative;
    height: 252px;
    width: 455px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 6px;
    margin-right: 7px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(2, 44, 214) !important;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(2, 44, 214) !important;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(2, 44, 214) !important;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(2, 44, 214) !important;
    margin-left: 270px;
  }

  .u-section-2 .u-icon-5 {
    color: rgb(2, 44, 214) !important;
    margin-left: 343px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 523px;
  }

  .u-section-2 .u-image-2 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-icon-6 {
    color: rgb(2, 44, 214) !important;
    margin-left: 12px;
  }

  .u-section-2 .u-icon-7 {
    color: rgb(2, 44, 214) !important;
    margin-left: 89px;
  }

  .u-section-2 .u-icon-8 {
    color: rgb(2, 44, 214) !important;
    margin-left: 111px;
  }

  .u-section-2 .u-icon-9 {
    margin-left: 300px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 578px;
  }

  .u-section-2 .u-image-3 {
    position: relative;
    height: 247px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin-left: 6px;
    margin-right: 7px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 578px;
  }

  .u-section-2 .u-image-4 {
    position: relative;
    height: 247px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    position: relative;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-8 {
    position: relative;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-icon-16 {
    margin-left: 129px;
  }

  .u-section-2 .u-icon-17 {
    margin-left: 52px;
  }

  .u-section-2 .u-icon-18 {
    margin-left: 191px;
  }

  .u-section-2 .u-icon-19 {
    margin-left: 267px;
  }

  .u-section-2 .u-icon-20 {
    margin-left: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 108px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 191px;
    width: 345px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 100px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 205px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 260px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 21px;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 66px;
  }

  .u-section-2 .u-icon-8 {
    margin-left: 88px;
  }

  .u-section-2 .u-icon-9 {
    margin-left: 226px;
  }

  .u-section-2 .u-icon-10 {
    margin-right: 99px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-11 {
    margin-left: 100px;
  }

  .u-section-2 .u-icon-14 {
    margin-right: 99px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-16 {
    margin-left: 83px;
  }

  .u-section-2 .u-icon-17 {
    margin-left: 38px;
  }

  .u-section-2 .u-icon-18 {
    margin-left: 123px;
  }

  .u-section-2 .u-icon-19 {
    margin-left: 188px;
  }

  .u-section-2 .u-icon-20 {
    margin-left: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 321px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 407px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 22px;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 67px;
  }

  .u-section-2 .u-icon-8 {
    margin-left: 164px;
  }

  .u-section-2 .u-icon-9 {
    margin-left: 374px;
  }

  .u-section-2 .u-image-3 {
    height: 284px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 284px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-icon-16 {
    margin-left: 107px;
  }

  .u-section-2 .u-icon-17 {
    margin-left: 62px;
  }

  .u-section-2 .u-icon-18 {
    margin-left: 244px;
  }

  .u-section-2 .u-icon-19 {
    margin-left: 328px;
  }

  .u-section-2 .u-icon-20 {
    margin-left: 414px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 188px;
    width: 340px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 202px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 256px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 28px;
  }

  .u-section-2 .u-icon-7 {
    margin-left: 73px;
  }

  .u-section-2 .u-icon-8 {
    margin-left: 101px;
  }

  .u-section-2 .u-icon-9 {
    margin-left: 229px;
  }

  .u-section-2 .u-image-3 {
    height: 179px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 179px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-icon-16 {
    margin-left: 83px;
  }

  .u-section-2 .u-icon-17 {
    margin-left: 38px;
  }

  .u-section-2 .u-icon-18 {
    margin-left: 120px;
  }

  .u-section-2 .u-icon-19 {
    margin-left: 185px;
  }

  .u-section-2 .u-icon-20 {
    margin-left: 239px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1163px;
}

.u-section-3 .u-shape-1 {
  width: 1064px;
  height: 852px;
  margin: 102px auto 0 30px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 995px;
  margin: -926px 63px 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 554px;
}

.u-section-3 .u-image-1 {
  height: 266px;
  width: 481px;
  margin: -1px 0 0;
}

.u-section-3 .u-text-1 {
  margin: 17px 20px 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 13px 20px 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -16px auto 0 132px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 55px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 286px;
}

.u-section-3 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 363px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 556px;
  background-position: 0% 0%;
}

.u-section-3 .u-image-2 {
  height: 261px;
  margin-top: 1px;
  margin-bottom: 0;
  margin-right: auto;
  object-position: 100% 34.35%;
}

.u-section-3 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 15px 20px 0;
}

.u-section-3 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 2px auto 0 55px;
}

.u-section-3 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 132px;
}

.u-section-3 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0;
}

.u-section-3 .u-icon-9 {
  width: 64px;
  height: 64px;
  color: rgb(17, 17, 17) !important;
  margin: -64px auto 0 363px;
}

.u-section-3 .u-icon-10 {
  width: 64px;
  height: 64px;
  margin: -64px 127px 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 612px;
  background-position: 0% 0%;
}

.u-section-3 .u-image-3 {
  height: 261px;
  margin: -3px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 30px 20px 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 13px 20px 0;
}

.u-section-3 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: 12px auto 0 132px;
}

.u-section-3 .u-icon-12 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 55px;
}

.u-section-3 .u-icon-13 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0;
}

.u-section-3 .u-icon-14 {
  width: 64px;
  height: 64px;
  color: rgb(17, 17, 17) !important;
  margin: -64px 130px 0 auto;
}

.u-section-3 .u-icon-15 {
  width: 64px;
  height: 64px;
  color: rgb(17, 17, 17) !important;
  margin: -64px 53px 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 612px;
  background-position: 0% 0%;
}

.u-section-3 .u-image-4 {
  height: 261px;
  object-position: 50% 38.08%;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 30px 21px 0;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  margin: 13px 20px 0;
}

.u-section-3 .u-icon-16 {
  width: 64px;
  height: 64px;
  margin: 34px auto 0 132px;
}

.u-section-3 .u-icon-17 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 55px;
}

.u-section-3 .u-icon-18 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0;
}

.u-section-3 .u-icon-19 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 286px;
}

.u-section-3 .u-icon-20 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 363px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-3 .u-shape-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 523px;
  }

  .u-section-3 .u-image-1 {
    position: relative;
    height: 252px;
    width: 455px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 6px;
    margin-right: 7px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(2, 44, 214) !important;
  }

  .u-section-3 .u-icon-2 {
    color: rgb(2, 44, 214) !important;
  }

  .u-section-3 .u-icon-3 {
    color: rgb(2, 44, 214) !important;
  }

  .u-section-3 .u-icon-4 {
    color: rgb(2, 44, 214) !important;
    margin-left: 270px;
  }

  .u-section-3 .u-icon-5 {
    color: rgb(2, 44, 214) !important;
    margin-left: 343px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 525px;
  }

  .u-section-3 .u-image-2 {
    position: relative;
    margin-right: initial;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-icon-6 {
    color: rgb(2, 44, 214) !important;
    margin-left: 12px;
  }

  .u-section-3 .u-icon-7 {
    color: rgb(2, 44, 214) !important;
    margin-left: 89px;
  }

  .u-section-3 .u-icon-8 {
    color: rgb(2, 44, 214) !important;
    margin-left: 111px;
  }

  .u-section-3 .u-icon-9 {
    margin-left: 300px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 578px;
  }

  .u-section-3 .u-image-3 {
    position: relative;
    height: 247px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    margin-left: 6px;
    margin-right: 7px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 578px;
  }

  .u-section-3 .u-image-4 {
    position: relative;
    height: 247px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    position: relative;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-3 .u-text-8 {
    position: relative;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-icon-16 {
    margin-left: 129px;
  }

  .u-section-3 .u-icon-17 {
    margin-left: 52px;
  }

  .u-section-3 .u-icon-18 {
    margin-left: 191px;
  }

  .u-section-3 .u-icon-19 {
    margin-left: 267px;
  }

  .u-section-3 .u-icon-20 {
    margin-left: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 108px;
  }

  .u-section-3 .u-shape-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 191px;
    width: 345px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 100px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 205px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 260px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 21px;
  }

  .u-section-3 .u-icon-7 {
    margin-left: 66px;
  }

  .u-section-3 .u-icon-8 {
    margin-left: 88px;
  }

  .u-section-3 .u-icon-9 {
    margin-left: 226px;
  }

  .u-section-3 .u-icon-10 {
    margin-right: 96px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-11 {
    margin-left: 100px;
  }

  .u-section-3 .u-icon-14 {
    margin-right: 99px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-16 {
    margin-left: 83px;
  }

  .u-section-3 .u-icon-17 {
    margin-left: 38px;
  }

  .u-section-3 .u-icon-18 {
    margin-left: 123px;
  }

  .u-section-3 .u-icon-19 {
    margin-left: 188px;
  }

  .u-section-3 .u-icon-20 {
    margin-left: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-3 .u-shape-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 321px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 407px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 22px;
  }

  .u-section-3 .u-icon-7 {
    margin-left: 67px;
  }

  .u-section-3 .u-icon-8 {
    margin-left: 164px;
  }

  .u-section-3 .u-icon-9 {
    margin-left: 374px;
  }

  .u-section-3 .u-image-3 {
    height: 284px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 284px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-16 {
    margin-left: 107px;
  }

  .u-section-3 .u-icon-17 {
    margin-left: 62px;
  }

  .u-section-3 .u-icon-18 {
    margin-left: 244px;
  }

  .u-section-3 .u-icon-19 {
    margin-left: 328px;
  }

  .u-section-3 .u-icon-20 {
    margin-left: 414px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 188px;
    width: 340px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 202px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 256px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 28px;
  }

  .u-section-3 .u-icon-7 {
    margin-left: 73px;
  }

  .u-section-3 .u-icon-8 {
    margin-left: 101px;
  }

  .u-section-3 .u-icon-9 {
    margin-left: 229px;
  }

  .u-section-3 .u-image-3 {
    height: 179px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 179px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-16 {
    margin-left: 83px;
  }

  .u-section-3 .u-icon-17 {
    margin-left: 38px;
  }

  .u-section-3 .u-icon-18 {
    margin-left: 120px;
  }

  .u-section-3 .u-icon-19 {
    margin-left: 185px;
  }

  .u-section-3 .u-icon-20 {
    margin-left: 239px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 146px;
}